<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min(1).css">
    <link rel="stylesheet" href="../css/style.css">


</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>系统管理管理<small>菜单管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>系统管理</el-breadcrumb-item>
            <el-breadcrumb-item>菜单管理管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="请输入查询内容" @input="changeInput()" v-model="pagination.queryString"
                          style="width: 200px;"
                          class="filter-item">
                </el-input>
                <el-button @click="findPage()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="name" label="菜单名称" align="center"></el-table-column>
                <el-table-column prop="linkUrl" label="连接URL" align="center"></el-table-column>
                <el-table-column prop="path" label="路径地址" align="center"></el-table-column>
                <el-table-column prop="priority" label="优先级" align="center"></el-table-column>
                <el-table-column prop="icon" label="图标样式" align="center"></el-table-column>
                <el-table-column prop="parentName" label="父级菜单" align="center"></el-table-column>
                <el-table-column prop="level" label="级别" align="center">

                </el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增菜单" :visible.sync="dialogFormVisible">
                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="菜单名称" prop="code">
                                    <el-input v-model="formData.name"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="连接Url">
                                    <el-input v-model="formData.linkUrl"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="路径地址">
                                    <el-input v-model="formData.path"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="优先级">
                                    <el-input v-model="formData.priority"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="图片样式">
                                    <el-input v-model="formData.icon"/>
                                </el-form-item>
                            </el-col>

                            <el-col :span="12">
                                <el-form-item label="级别">
                                    <el-select v-model="formData.level">
                                        <el-option label="一级菜单" value="1"></el-option>
                                        <el-option label="二级菜单" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>

                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="父级菜单">
                                    <el-select v-model="formData.parentName" placeholder="请选择">
                                        <el-option
                                                v-for="item in optionsList1"
                                                :key="item.parentName"
                                                :label="item.parentName"
                                                :value="item.parentName">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="描述信息">
                                    <el-input v-model="formData.description" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>

                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>


            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑检查项" :visible.sync="dialogFormVisible4Edit">
                    <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="菜单名称" prop="code">
                                    <el-input v-model="formData.name"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="连接Url">
                                    <el-input v-model="formData.linkUrl"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="路径地址">
                                    <el-input v-model="formData.path"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="优先级">
                                    <el-input v-model="formData.priority"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="图片样式">
                                    <el-input v-model="formData.icon"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="级别">
                                    <el-select v-model="formData.level" placeholder="请选择">
                                        <el-option
                                                v-for="item in levelList"
                                                :key="item.id"
                                                :label="item.value"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="父级菜单">
                                    <el-select v-model="formData.parentName" placeholder="请选择">
                                        <el-option
                                                v-for="item in optionsList1"
                                                :key="item.parentName"
                                                :label="item.parentName"
                                                :value="item.parentName">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="描述信息">
                                    <el-input v-model="formData.description" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize: 8,//每页显示的记录数
                total: 0,//总记录数
                queryString: null//查询条件
            },
            optionsList1: [],
            dataList: [],//当前页要展示的分页列表数据
            formData: {},//表单数据
            dialogFormVisible: false,//增加表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
            rules: {//校验规则
                name: [{required: true, message: '菜单名称为必填项', trigger: 'blur'}]
            },
            levelList: [
                {
                    id: 1,
                    value: "一级菜单"

                }, {
                    id: 2,
                    value: "二级菜单"
                }
            ]
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage();
        },
        methods: {
            //编辑
            //编辑
            handleEdit() {
                //进行表单校验
                this.$refs['dataEditForm'].validate((valid) => {
                    if (valid) {
                        //表单校验通过，可以提交数据
                        axios.put("/menu/update.do", this.formData).then((res) => {
                            if (res.data.flag) {
                                //弹出成功提示信息
                                this.$message({
                                    type: 'success',
                                    message: res.data.message
                                });
                            } else {
                                //执行失败
                                this.$message.error(res.data.message);
                            }
                        }).finally(() => {
                            //不管成功还是失败，都调用分页查询方法
                            this.findPage();
                            //隐藏编辑窗口
                            this.dialogFormVisible4Edit = false;
                        });
                    } else {
                        //表单校验不通过
                        this.$message.error("表单数据校验失败!");
                        return false;
                    }
                });
            },
            //添加
            handleAdd() {
                //进行表单校验
                this.$refs['dataAddForm'].validate((valid) => {
                    if (valid) {
                        //表单校验通过，发生ajax请求，将录入的数据提交到后台进行处理
                        console.log(this.formData);
                        axios.post("/menu/add.do", this.formData).then((res) => {
                            //关闭新增窗口
                            this.dialogFormVisible = false;
                            if (res.data.flag) {//执行成功
                                //新增成功后，重新调用分页查询方法，查询出最新的数据
                                this.findPage();
                                //弹出提示信息
                                this.$message({
                                    message: res.data.message,
                                    type: 'success'
                                });
                            } else {//执行失败
                                //弹出提示
                                this.$message.error(res.data.message);
                            }
                        });
                    } else {
                        //校验不通过
                        this.$message.error("数据校验失败，请检查你的输入信息是否正确！");
                        return false;
                    }
                });
            },
            //分页查询
            findPage() {
                var param = {
                    currentPage: this.pagination.currentPage,
                    pageSize: this.pagination.pageSize,
                    queryString: this.pagination.queryString
                }
                axios.post("/menu/findPage.do", param).then((req) => {
                    // 获取总页数
                    this.pagination.total = req.data.total;
                    //获取数据模型
                    this.dataList = req.data.rows;
                    console.log(this.dataList)
                })


            },
            // 重置表单
            resetForm() {
                this.formData = {}
            },
            // 弹出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;
                this.resetForm();
                this.finParentName();
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                this.finParentName();
                //弹出编辑窗口
                this.dialogFormVisible4Edit = true;
                //回显数据，发送ajax请求根据ID查询当前检查项数据
                axios.get("/menu/findById/" + row.id + ".do").then((res) => {
                    if (res.data.flag) {
                        //进行回显，基于VUE的数据绑定实现
                        this.formData = res.data.data;
                        console.log(this.formatDate);
                    } else {
                        //查询失败，弹出提示
                        this.$message.error(res.data.message);
                    }
                });

            },
            //切换页码
            handleCurrentChange(currentPage) {
                //将新的页码传递给模型数据，然后在进行展示
                this.pagination.currentPage = currentPage;
                this.findPage();
                this.finParentName();
            },
            // 删除
            handleDelete(row) {
                //alert(row.id);
                this.$confirm("确认删除吗？", "提示", {type: 'warning'}).then(() => {
                    //点击确定按钮时只需此处代码
                    // alert('用户点击的是确定按钮');
                    axios.delete("/menu/delete/" + row.id + ".do").then((res) => {
                        if (!res.data.flag) {
                            //删除失败
                            this.$message.error(res.data.message);
                        } else {
                            //删除成功
                            this.$message({
                                    message: res.data.message,
                                    type: 'success'
                                }
                            ); //调用分页，获取最新分页数据
                            this.findPage();
                        }
                    });
                });
            },
            changeInput() {
                if (this.pagination.queryString == "") {
                    this.findPage();
                }
            },
            finParentName() {
                axios.get("/menu/finParentName.do").then((req) => {
                    if (req.data.flag) {
                        this.optionsList1 = req.data.data;
                        console.log(this.optionsList1);
                    }
                })
            }

        }
    })
</script>
</html>